.flg-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flg {
  @extend .flg-background;
  position: relative;
  display: inline-block;
  width: (4 / 3) * 1em;
  line-height: 1em;
  &:before {
    content: "\00a0";
  }
  &.flg-squared {
    width: 1em;
  }
}

@each $country in $countries {
  .flg-#{$country} {
    background-image: "url(#{$flgPath}#{$flgBig}/#{$country}.svg)";
    &.flg-squared {
      background-image: "url(#{$flgPath}#{$flgSquare}/#{$country}.svg)";
    }
  }
}

.flg-2x{
  font-size: 2em;
}
.flg-3x{
  font-size: 3em;
}
.flg-4x{
  font-size: 4em;
}
.flg-5x{
  font-size: 5em;
}
.flg-6x{
  font-size: 6em;
}
.flg-7x{
  font-size: 7em;
}
.flg-8x{
  font-size: 8em;
}
.flg-9x{
  font-size: 9em;
}
.flg-10x{
  font-size: 10em;
}
