.flg-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flg {
  .flg-background;
  position: relative;
  display: inline-block;
  width: unit((4 / 3), em);
  line-height: 1em;
  &:before {
    content: "\00a0";
  }
  &.flg-squared {
    width: 1em;
  }
}

.flg(@country) {
  .flg-@{country} {
    background-image: ~"url(@{flg-path}@{flg-big}/@{country}.svg)";
    &.flg-squared {
      background-image: ~"url(@{flg-path}@{flg-square}/@{country}.svg)";
    }
  }
}


.flg-2x{
  font-size: 2em;
}
.flg-3x{
  font-size: 3em;
}
.flg-4x{
  font-size: 4em;
}
.flg-5x{
  font-size: 5em;
}
.flg-6x{
  font-size: 6em;
}
.flg-7x{
  font-size: 7em;
}
.flg-8x{
  font-size: 8em;
}
.flg-9x{
  font-size: 9em;
}
.flg-10x{
  font-size: 10em;
}
